nav {
  background-color: #37393A;
  height: 80px;
  width: 100%;
  z-index: 3;
}

.docode-logo {
  display: inline-block;
  padding: 28px;
}

.docode-logo img {
  height: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 599px) {
  .docode-logo img {
    height: 23px;
  }
}

nav {
  position: fixed;
}

nav ul {
  float: right;
  margin-right: 20px;
}

@media (max-width: 928px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #37393A;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}

@media (max-width: 928px) {
  nav ul li {
    display: block;
  }
}

nav ul li a {
  color: white;
  font-size: .9em;
  padding: 7px 13px;
  border-radius: 3px;
}

@media (max-width: 928px) {
  nav ul li a {
    font-size: 20px;
  }
}

nav ul li a:hover, nav ul li a:focus {
  text-decoration: none;
  color: white;
  background-color: #FF5159;
}

@media (max-width: 928px) {
  nav ul li a:hover, nav ul li a:focus {
    color: #FF5159;
    background: none;
  }
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 928px) {
  .checkbtn {
    display: block;
  }
}

#check {
  display: none;
}

#check:checked ~ ul {
  left: 0;
}

.btn-login {
  background-color: #37393A;
  color: white;
  border: solid 1px white;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-login:hover {
  background-color: white;
}

.btn-register {
  background-color: #FF5159;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-register:hover {
  background-color: #ff1e28;
  color: white;
}

main {
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4eeed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-bg {
  min-height: 300px;
  height: 60vh;
  max-height: 700px;
  width: 100%;
  background-image: url("../assets/banner.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-bg h1 {
  color: white;
  margin: 0 auto;
  margin-top: 5em;
}

@media (max-width: 767px) {
  main .main-bg h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 6em;
  }
}

@media (max-height: 750px) {
  main .main-bg h1 {
    margin-top: 4em;
  }
}

main .container {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .container .col-md-8 {
  margin-top: -30vh;
}

@media (max-width: 767px) {
  main .container .col-md-8 {
    margin-top: -20vh;
  }
}

main .container img {
  width: 100%;
}

@media (max-height: 750px) {
  main .container img {
    width: 70%;
    margin-top: 40px;
  }
}

@media (max-height: 468px) {
  main .container img {
    width: 50%;
  }
}

main .container hr {
  width: 50%;
  margin: 0 auto;
  border-top: #37393A solid 1px;
}

main .container h2 {
  padding: 1em 0;
}

main .container p {
  font-size: 1.2em;
  padding: 3em 0 7em;
  width: 100%;
}

.logo-min {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

.text-red {
  color: #FF5159;
}

.text-bold {
  font-weight: bold;
}

.content {
  margin-top: 8em;
}

.content h2 {
  padding: 4rem 8rem;
  padding-bottom: 2rem;
}

@media (max-width: 767px) {
  .content h2 {
    padding: 3rem;
  }
}

.content p {
  font-size: 1.2em;
  padding: 4rem 8rem;
}

@media (max-width: 767px) {
  .content p {
    padding: 3rem;
  }
}

.content .row .col-lg-6 {
  margin-bottom: 3em;
}

.content .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .content .d-flex {
    display: block;
  }
}

.content hr {
  border-top: #37393A solid 1px;
}

.content .content-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 10em;
}

.content .content-icon img {
  width: 100%;
}

@media (max-width: 599px) {
  .content .content-icon img {
    width: 100px;
    height: 100px;
  }
}

.content .content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.content .content-info p {
  font-size: 1.3em;
}

@media (max-width: 992px) {
  .content .content-info p {
    padding: 4rem;
  }
}

.functions {
  margin: 1rem 0 !important;
}

.functions img {
  width: 100%;
}

.functions h4 {
  padding: 5px 0;
  font-size: 16px;
}

.functions p {
  font-size: 12px;
}

.functions .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.plans {
  background-color: #f4eeed;
  margin-top: 15rem;
  position: relative;
  min-height: 50vh;
}

.plans h2 {
  padding-top: 1em !important;
  color: #FF5159;
}

.plans .hr-plans {
  border-top: 1px solid #FF5159;
  width: 20%;
  margin: 15px auto;
}

.plans .plans_card {
  background: white;
  padding: 3rem;
  border-radius: 10px;
  margin: 20px 0;
  -webkit-box-shadow: -2px 2px 6px gray;
          box-shadow: -2px 2px 6px gray;
}

.plans .plans_card h3 {
  color: #FF5159;
  font-weight: bold;
  margin: 10px 0;
}

.plans .plans_card .plans-bags li {
  margin: 5px 0;
  color: #FF5159;
  font-weight: bold;
}

.plans .col-card {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .plans .col-card {
    margin-top: 18rem;
  }
}

.plans .plan-bg-card {
  background-color: #37393A;
  position: absolute;
  margin-left: -6rem;
  margin-top: 6rem;
  width: 65%;
  height: 100%;
  z-index: 0;
  -webkit-box-shadow: -2px 2px 6px gray;
          box-shadow: -2px 2px 6px gray;
}

.plans .plan-card {
  position: relative;
  margin-top: -10rem;
  background-color: #FF5159;
  padding: 5.5rem 3rem;
  width: 70%;
  z-index: 1;
  -webkit-box-shadow: -1px 1px 4px black;
          box-shadow: -1px 1px 4px black;
  min-height: 310px;
}

@media (max-width: 599px) {
  .plans .plan-card {
    width: 85%;
  }
}

.plans .plan-card p {
  color: white;
  font-size: 1.2em;
}

.plans .plan-card h4 {
  color: white;
}

.plans .plan-card hr {
  width: 50%;
}

.plans .plan-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.plans .plan-button button {
  color: white;
  background: #FF5159;
  font-size: 1.2em;
  padding: .7em 1em;
  margin-bottom: 2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.plans .plan-button button:hover {
  background-color: #ff1e28;
}

.inst-plans {
  background: url("../assets/bg-ice.jpg");
  min-height: 120px;
  background-size: cover;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .inst-plans {
    display: block;
    text-align: center;
  }
}

.inst-plans button {
  color: white;
  border: none;
  background: #FF5159;
  font-size: 1.2em;
  padding: .7em 1em;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 599px) {
  .inst-plans button {
    margin-top: 20px;
  }
}

.inst-plans button:hover {
  background-color: #ff1e28;
  color: white;
}

.clients {
  padding: 6em 0;
}

.clients h3 {
  text-align: center;
}

.clients hr {
  width: 50%;
  margin: 2rem auto 6rem;
}

.clients .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .clients .row {
    display: block;
  }
}

.clients .col-md-3 {
  padding: 6rem;
}

@media (min-width: 600px) and (max-width: 990px) {
  .clients .col-md-3 {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 599px) {
  .clients .col-md-3 {
    padding: 2rem 6rem;
  }
}

.clients img {
  width: 100%;
}

.register {
  background-image: url("../assets/banner-registro.png");
  background-position: center;
  background-size: cover;
  padding: 7em 0;
}

.register p {
  font-size: 1.2em;
  color: white;
  text-align: center;
}

.register .register-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}

.register .register-button .btn {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-size: 1.2em;
  padding: .8em 1.5em;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.register .register-button .btn:hover {
  background-color: white;
  color: #FF5159;
}

.contact {
  background-color: #37393A;
  text-align: center;
  padding: 5rem 0;
}

.contact form {
  padding: 3rem;
}

.contact p {
  color: white;
  font-size: 1.2em;
  padding: 2rem;
}

.contact h3 {
  color: white;
  padding: 1rem;
}

.contact label {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact input {
  background-color: #696F72;
  margin: 30px 0;
}

.contact ::-webkit-input-placeholder {
  color: white;
}

.contact :-ms-input-placeholder {
  color: white;
}

.contact ::-ms-input-placeholder {
  color: white;
}

.contact ::placeholder {
  color: white;
}

.contact textarea {
  margin: 20px 0;
  background-color: #696F72;
}

.contact .send-button button {
  padding: 1rem 3em;
  color: white;
  background-color: transparent;
  border: solid 1px white;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact .send-button button:hover {
  background-color: white;
  color: #37393A;
}

footer {
  position: relative;
  background-color: #4E5558;
  padding: 6em 0;
}

@media (max-width: 767px) {
  footer {
    padding: 3em 0;
  }
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer .redband {
  height: 20px;
  background: #FF5159;
  position: absolute;
  top: 0;
  width: 100%;
}

footer .row {
  margin: 0;
  padding: 0;
}

footer .row .col-sm-4 {
  margin-top: 2em;
}

footer img {
  width: 80%;
}

@media (max-width: 767px) {
  footer img {
    width: 50%;
  }
}

footer ul li {
  color: white;
  font-size: 1.2em;
  padding: .5rem 0;
}

.main-container .main-title {
  background: #FF5159;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.main-container .main-title h1 {
  color: white;
  padding: 1rem 0;
  font-weight: bold;
}

.main-container .main-title p {
  color: white;
}

.main-container_card {
  border-radius: 5px;
  min-height: 200px;
  border-radius: 5px;
  background: white;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: -2px 2px 6px gray;
          box-shadow: -2px 2px 6px gray;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  min-height: 600px;
  overflow: hidden;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .main-container_card {
    min-height: 900px;
  }
}

.main-container_card .container {
  position: relative;
}

.main-container_card .card {
  -webkit-box-shadow: -2px 2px 6px gray;
          box-shadow: -2px 2px 6px gray;
  margin: 0;
  border-radius: 10px !important;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  background: white;
  margin: 6rem 0;
  min-height: 300px;
}

.main-container_card .card:hover {
  -webkit-box-shadow: -2px 2px 8px #555;
          box-shadow: -2px 2px 8px #555;
}

.main-container_card .card-title {
  background: #FF5159;
}

.main-container_card .card-title h3 {
  padding: 2.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
}

.main-container_card .card-content {
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container_card .card-content p {
  padding: 1rem 0;
  color: #4E5558;
}

.main-container_card .card-content .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 15px;
  -webkit-transition: .3s;
  transition: .3s;
  background: #FF5159;
  color: white;
}

.main-container_card .card-content .btn:hover {
  color: #FF5159;
  border: solid 1px #FF5159;
  background: white;
}

@media (min-width: 992px) {
  .main-container_card .ml-card {
    margin-left: 5rem;
  }
}

@media (min-width: 992px) {
  .main-container_card .mr-card {
    margin-right: 5rem;
  }
}

.main-container_card form {
  padding: 3rem;
}

.main-container_card form input {
  margin: 2rem 0;
}

.steps {
  padding: 3rem 5rem;
}

.pointer {
  width: 100%;
  height: 40px;
  position: relative;
  background: #FF5159;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.5rem;
  margin-top: 1rem;
}

.pointer h5 {
  color: white;
}

.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #FF5159;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.payment-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.payment-btn .btn {
  border-radius: 15px;
  border: solid 1px #FF5159;
  color: #FF5159;
  -webkit-transition: .3s;
  transition: .3s;
  background: white;
  margin-bottom: 3rem;
}

.payment-btn .btn:hover {
  color: white;
  background: #FF5159;
}

.payment-btn-step2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bf-step {
  background: #ffbcc0;
}

.bf-step::before {
  border-left: 20px solid #ffbcc0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.step1 {
  left: 0;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
}

.step2 {
  -webkit-transition: .5s;
  transition: .5s;
  left: 100vw;
  position: absolute;
  width: 100%;
}

.step2 h3 {
  color: #FF5159;
  font-weight: bold;
  margin-bottom: 2rem;
}

.step2 label {
  margin: 5px 0;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  font-weight: bold;
  color: #FF5159;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step2 p {
  margin: 1.5rem 0;
}

.step2 .input-radio {
  margin: 0;
  position: relative !important;
}

.monthly-options {
  margin-bottom: 2em;
}

.monthly-options .col-sm-3 {
  padding: 0;
}

.monthly-options h5 {
  text-align: center;
  color: #FF5159;
}

.monthly-options-item {
  background: white;
  border: solid 1px #FF5159;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 992px) {
  .monthly-options-item {
    min-height: 52px;
  }
}

@media (max-width: 767px) {
  .monthly-options-item {
    min-height: auto;
    margin: 5px 0;
    border-radius: 20px;
  }
}

.monthly-options-item:hover {
  background: #FF5159;
}

.monthly-options-item:hover h5 {
  color: white !important;
}

.monthly-options .active {
  background-color: #FF5159;
}

.monthly-options .active h5 {
  color: white !important;
}

.monthly-options .border-rl {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.monthly-options .border-rr {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.monthly-options .card-options {
  margin: 2rem 0;
  position: relative;
  min-height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media (max-width: 767px) {
  .monthly-options .card-options {
    min-height: 276px;
  }
}

.monthly-options .card-options-item {
  min-height: 200px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px gray;
          box-shadow: 0px 0px 6px gray;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px;
}

.monthly-options .card-options-item:hover {
  -webkit-box-shadow: -3px 3px 8px #555;
          box-shadow: -3px 3px 8px #555;
}

@media (max-width: 767px) {
  .monthly-options .card-options-item {
    height: 168px;
    margin: 4rem 0;
  }
  .monthly-options .card-options-item h3 {
    font-size: 2rem;
    margin: 0;
  }
  .monthly-options .card-options-item p {
    font-size: 1rem;
    margin: 0;
  }
}

.monthly-options .card-options-item h1 {
  font-size: 3em;
  color: #FF5159 !important;
  font-weight: bold;
}

.monthly-options .card-options-item h5 {
  font-weight: bold;
}

.monthly-options .card-options-item p {
  margin: 5px;
}

.monthly-options #options1, .monthly-options #options2, .monthly-options #options3, .monthly-options #options4, .monthly-options #options5, .monthly-options #options6, .monthly-options #options7, .monthly-options #options8 {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.monthly-options #options2, .monthly-options #options4, .monthly-options #options6, .monthly-options #options8 {
  right: -100%;
}

.monthly-options .tab-options {
  position: absolute;
  bottom: 0;
}

.monthly-options .tab-options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.monthly-options .tab-options li {
  height: 15px;
  width: 15px;
  border: solid 1px #FF5159;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.monthly-options .tab-options li:hover {
  background: #FF5159;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #37393A;
}

.d-flex-jcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}
/*# sourceMappingURL=style.css.map */